[submodule "backend/custom_addons/rest-framework"]
	path = backend/custom_addons/rest-framework
	url = https://github.com/OCA/rest-framework.git
[submodule "backend/custom_addons/server-auth"]
	path = backend/custom_addons/server-auth
	url = https://github.com/OCA/server-auth.git
[submodule "backend/custom_addons/web-api"]
	path = backend/custom_addons/web-api
	url = https://github.com/OCA/web-api.git
	branch = 16.0
